@use "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.mainContainer {
    position: relative;
    @include mixins.media-up(lg) {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
        background-color: $backgroundViewport;
    }
    .divContainerContent {
        display: flex;
        flex-direction: column;
        background-color: white;

        @include mixins.media-up(lg) {
            display: flex;
            flex-direction: unset;
            width: 1100px;
            height: 650px;
            border-radius: 10px;
            padding: 20px;
        }
    }
}
