@use "src/styles/mixins.scss";
@import "src/styles/variables.scss";
.sectionSelectPlan {
    flex: 2.2 4 0;
    @include mixins.contStepsMobile();

    @include mixins.media-up(lg) {
        position: unset !important;
        top: 0px;
        margin: 0px;
        height: 100%;
        border-radius: 0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .divTitlePlan {
        width: 100%;
        margin-bottom: 30px;
        @include mixins.media-up(lg) {
            padding-top: 52px;
            padding-left: 100px;
            padding-right: 100px;
            width: 100%;
            margin-bottom: 30px;
        }
        h1 {
            @include mixins.setFont(700);
            color: $fontColorBlue;
            font-size: 30px;
            margin-bottom: 5px;
        }
        span {
            @include mixins.setFont(300);
            font-size: 16px;
            color: $fontColorGray;
        }
    }
    .divSelectPlan {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: min-content;
        @include mixins.media-up(lg) {
            padding-left: 100px;
            padding-right: 80px;
            display: flex;
            height: 480px;
        }
        .divPlans {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 20px;
            @include mixins.media-up(lg) {
                display: flex;
                width: 100%;
                flex-direction: unset !important;
                justify-content: space-between;
            }
        }
        .divBtns {
            display: none;
            @include mixins.media-up(lg) {
                margin-bottom: 15px;
                display: flex;
                width: 100%;
                justify-content: space-between;
            }
        }
    }
}

.divBtnsMobile {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    button {
        margin-right: 20px;
        margin-left: 20px;
        border-radius: 5px;
    }

    @include mixins.media-up(lg) {
        display: none;
    }
}
