@use "src/styles/mixins.scss";
@import "src/styles/variables.scss";
.sectionForm {
    flex: 2.2 4 0;
    @include mixins.contStepsMobile();
    @include mixins.media-up(lg) {
        position: unset !important;
        top: 0px;
        margin: 0px;
        height: 100%;
        border-radius: 0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .divTitleForm {
        @include mixins.media-up(lg) {
            padding-top: 52px;
            padding-left: 100px;
            padding-right: 100px;
            margin-bottom: 30px;
        }

        width: 100%;
        h1 {
            @include mixins.setFont(700);
            color: $fontColorBlue;
            font-size: 30px;
            margin-bottom: 5px;
        }
        span {
            @include mixins.setFont(300);
            font-size: 16px;
            color: $fontColorGray;
        }
    }
    .formCont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: min-content;
        @include mixins.media-up(lg) {
            padding-left: 100px;
            padding-right: 80px;
            height: 480px;
            padding-bottom: 0px;
        }
        .contInputFields {
            display: flex;
            flex-direction: column;
            position: relative;
            gap: 15px;
            @include mixins.media-up(lg) {
                display: flex;
                flex-direction: column;
                gap: 35px;
            }
            div {
                label {
                    @include mixins.setFont(300);
                    color: $fontColorBlue;
                }
                &:first-child {
                    margin-top: 20px;
                }
                input {
                    margin-top: 4px;
                    width: 99%;
                    padding-top: 14px;
                    padding-bottom: 14px;
                    border-radius: 5px;
                    border: 1px solid $fontColorGray;
                }
                .inputError {
                    border: 1px solid rgb(250, 42, 42);
                }
                input::placeholder {
                    padding-left: 10px;
                    @include mixins.setFont(500);
                    font-size: 15px;
                    color: $fontColorGray;
                }
                input:focus {
                    outline: none;
                }
                @include mixins.media-up(lg) {
                    label {
                        @include mixins.setFont(500);
                        color: $fontColorBlue;
                    }
                    input {
                        margin-top: 12px;
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
                }
                .errorMessage {
                    color: rgb(250, 42, 42);
                    @include mixins.setFont(500);
                    position: absolute;
                    right: 0;
                }
            }
        }
        .divBtn {
            display: none;
            @include mixins.media-up(lg) {
                position: relative;
                background-color: transparent;
                width: 100%;
                margin-bottom: 15px;
                display: flex !important;
                justify-content: flex-end;
            }
        }
    }
}

.divBtnMobile {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    background-color: white;

    @include mixins.media-up(lg) {
        display: none;
    }
    button {
        margin-right: 20px;
    }
}
