@mixin setFont($weight) {
    font-weight: $weight;
    font-family: "Ubuntu", sans-serif;
}

$breakpoints: (
    sm: 540px,
    md: 768px,
    lg: 1024px,
);

@mixin media-up($breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

@mixin contStepsMobile {
    height: min-content;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 70px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
}
