$color: red;
$currentStepColor: hsl(228, 100%, 84%);
$backgroundViewport: hsl(217, 100%, 97%);
$fontColorBlue: hsl(213, 96%, 18%);
$fontColorGray: hsl(231, 11%, 63%);
$purpleColor: hsl(243, 100%, 62%);
