@use "src/styles/mixins.scss";
@import "src/styles/variables.scss";
.contAddonItem {
    border: 1px solid $purpleColor;
    height: 70px;
    display: flex;
    gap: 10px;
    border-radius: 10px;
    padding: 5px;
    @include mixins.media-up(lg) {
        border: 1px solid $purpleColor;
        display: flex;
        border-radius: 10px;
        gap: 0px;
        padding: 10px;
    }
    .divCheckbox {
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        .check {
            cursor: pointer;
            background-color: #fff;
            width: 20px;
            background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
            height: 20px;
            appearance: none;
            border-radius: 5px;
            border: 2px solid #888;
        }
        .check:checked {
            background-color: $purpleColor;
            border: none;
        }
    }
    .divInfoAddon {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 3px;
        .divContInfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5px;
            span {
                @include mixins.setFont(700);
                color: $fontColorBlue;
                font-size: 15px;
                @include mixins.media-up(lg) {
                    font-size: 18px;
                }
                &:last-child {
                    @include mixins.setFont(300);
                    color: $fontColorGray;
                    font-size: 13px;
                    @include mixins.media-up(lg) {
                        font-size: 15px;
                    }
                }
            }
        }
        .divContPrice {
            display: flex;
            align-items: center;
            color: $purpleColor;
            @include mixins.setFont(300);
            margin-right: 10px;
            font-size: 15px;
            @include mixins.media-up(lg) {
                display: flex;
                align-items: center;
                margin-right: 20px;
                font-size: 18px;
                color: $purpleColor;
                @include mixins.setFont(300);
            }
        }
    }
}
