@use "src/styles/mixins.scss";
@import "src/styles/variables.scss";

.sectionSideBarSteps {
    background-image: url(/project_steps/assets/images/bg-sidebar-desktop.svg);
    background-position-y: 200px;
    border-radius: 0px;
    background-size: cover;
    @include mixins.media-up(lg) {
        flex: 1 4 0;
        background-image: url(/project_steps/assets/images/bg-sidebar-desktop.svg);
        background-repeat: no-repeat;
        background-position-y: 0px;
        background-size: cover;
        border-radius: 10px;
    }

    menu {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 100px;
        @include mixins.media-up(lg) {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin-top: 40px;
            margin-left: 40px;
            padding-top: 0px;
            padding-bottom: 0px;
        }
        ol {
            display: flex;
            @include mixins.media-up(lg) {
                display: flex;
                flex-direction: column;
                gap: 20px;
            }
            .liSteps {
                display: flex;
                list-style: none;
                padding: 10px;
                gap: 15px;
                .linkOtherStep {
                    text-decoration: none;
                    color: black;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include mixins.setFont(700);
                }
                .stepNotCurrent {
                    border: 1px solid white;
                    background-color: transparent;
                    color: white;
                }
                .currentStep {
                    border: 1px solid transparent;
                    background-color: $currentStepColor;
                }
                .descStep {
                    display: none;
                    @include mixins.media-up(lg) {
                        display: flex;
                        flex-direction: column;
                        @include mixins.setFont(700);
                        color: white;
                        gap: 5px;
                        span {
                            &:first-child {
                                @include mixins.setFont(300);
                                font-size: small;
                                color: rgb(209, 209, 209);
                            }
                        }
                    }
                }
            }
        }
    }
}
